@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  position: relative; /* For absolute positioning of the menu */
}
